
body{
  margin:0;
  background:#0f0f0f;
  font-family: system-ui;
}

  .messagesIAs {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    max-height: 85vh;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .messagesIA {
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }

  .messagesIA.user {
    align-self:flex-end;
    background:#2a7f62;
    color:white;
  }

  .messagesIA.assistant {
    background:#1e1e1e;
    color:#ddd;
    align-self: flex-start;
  }