<div class="chat-container">

  <div class="messages">

    <div *ngFor="let m of messages" class="message" [class.user]="m.role==='user'" [class.assistant]="m.role==='assistant'">

      {{m.content}}

    </div>

    <div *ngIf="loading" class="message assistant">
      thinking ...
      <!-- {{ 'chat.thinking' | translate }} -->
    </div>

  </div>



<div class="chat-input">

  <input [(ngModel)]="question" [placeholder]="'Ask something about AIMA'" (keyup.enter)="send()" />

  <!-- <input
  [(ngModel)]="question"
  [placeholder]="'chat.placeholder' | translate"/> -->

  <button (click)="send()">
    Send
    <!-- {{ 'chat.send' | translate }} -->
  </button>

</div>

</div>